.hidden {
  display: none !important;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.col-half {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .col-half {
    width: 50%;
  }
}
